.banner-section{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.banner-image{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center 40%;
}
.image-conjuro{
    object-position: top;
}
.image-breakingbad{
    object-position: top;
}

/* Media query para dispositivos mobiles */
@media (max-width: 576px){
    .banner-image{
        height: 200px;
    }
    .image-brakingbad{
        object-position: right;
    }
}